.modal_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e2f;
  padding: 25px 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  margin: 100px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  gap: 10px;
}

.edit_title_text {
  color: #ffffff;
}
.error_message_container {
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: flex-start;
}

.error_text {
  color: #ff7f7f;
}

.action_buttons_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cancel_button {
  border-radius: 8px;
  background-color: #333333;
  padding: 10px 20px;
}

.cancel_button_text {
  color: #ffffff;
}

.cancel_button:hover {
  background-color: #7d3fbe;
}

.done_button {
  border-radius: 8px;
  background-color: #6a8dff;
  padding: 10px 20px;
}

.done_button_text {
  color: #ffffff;
}

.done_button:hover {
  background-color: #5472d3;
}

.disabled_button {
  background-color: #808080;
}

.loader_backdrop {
  color: #fff;
  z-index: 1301;
  backdrop-filter: blur(1px);
}

.playlist_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  max-height: 300px;
  gap: 8px;
  padding: 10px;
}

.playlist_item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 6px;
  border-radius: 12px;
}

.playlist_image {
  width: 80px;
  aspect-ratio: 1;
}

.playlist_title {
  color: #d3d3d3;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlist_content {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5px;
}

.selected_item {
  background-color: rgba(0, 191, 165, 0.1);
  box-shadow: 0 0 12px 4px rgba(0, 191, 165, 0.5);
  border-radius: 12px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
