.song_card {
  display: flex;
  flex-direction: row;
}

.song_card_info {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 70px;
  cursor: pointer;
  width: 87%;
  max-width: 400px;
}

.song_image {
  aspect-ratio: 1;
  height: 100%;
  object-fit: cover;
}

.song_title {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.song_artist {
  color: white;
  font-style: italic;
}

.song_content {
  padding-top: 10px;
  height: 100%;
}

.song_actions {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.loader {
  color: #000000;
}

.menu_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-top: 0;
  padding-bottom: 0;
}
