.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 3px;
}

.loader_spinner {
  color: #ffffff;
}

.loader_backdrop {
  color: #fff;
  z-index: 1301;
  backdrop-filter: blur(4px);
}
