.username_text {
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
  max-width: 60vw;
}

.welcome_text_container {
  gap: 5px;
  display: flex;
  flex-direction: row;
}

.upload_button {
  color: #ffffff;
  font-size: 35px;
}

.upload_actions {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.menu_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.deleteacount_text {
  color: #ff7f7f;
}

.divider {
  background-color: #666666;
}
.loader {
  color: #ffffff;
}
