.homepage_playlists {
  display: flex;
  flex-direction: column;
  padding: 9px;
  width: 100%;
}

.title_text {
  color: #d3d3d3;
}

.title {
  padding: 0 15px 15px 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.playlists {
  display: flex;
  flex-direction: row;
  gap: 15px;
  overflow-x: auto;
}

.playlists::-webkit-scrollbar {
  display: none;
}
