.username_text {
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}

.welcome_text_container {
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
