.username_text {
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-style: italic;
}

.welcome_text_container {
  gap: 5px;
  display: flex;
  flex-direction: row;
}

.user_welcome_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98vw;
  align-items: center;
  padding: 10px 0 10px 10px;
}

.refresh_button {
  width: 30px;
  aspect-ratio: 1;
  object-fit: cover;
  cursor: pointer;
}