.modal_box {
    display: flex;
    flex-direction: column;
    background-color: #1e1e2f;
    padding: 25px 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    margin: 100px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    gap: 15px;
    justify-content: center;
}

.edit_title_text {
    color: #ffffff;
    padding-bottom: 7px;
}

.redirect_text {
    color: #D3D3D3;
    text-align: justify;
    text-align-last: center;
    font-style: italic;

}

.action_buttons_container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
}

.cancel_button {
    border-radius: 8px;
    background-color: #FF8C00;
    padding: 10px 20px;
}

.cancel_button_text {
    color: #ffffff;
}

.cancel_button:hover {
    background-color: #D2691E;
}