.error_message {
  color: #e22134;
}

.signin_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  width: 100%;
  padding: 20px;
}

.signin_input {
  padding: 10px 15px;
  font-size: 1rem;
  border: 1px solid #404040;
  border-radius: 5px;
  background-color: #333333;
  color: #fff;
  width: 70%;
  max-width: 300px;
}

.signin_input::placeholder {
  color: #b3b3b3;
}

.signin_input:focus {
  outline: none;
  border-color: #1db954;
}

.submit_button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #1db954;
  color: #fff;
  cursor: pointer;
  width: 100px;
}

.submit_button:hover {
  background-color: #14833b;
}

.submit_button_container {
  padding-top: 20px;
}

.signin_buttons_container {
  padding-top: 20px;
}

.signin_button {
  width: 50px;
  aspect-ratio: 1;
}

.loader_backdrop {
  color: #fff;
  z-index: 1301;
  backdrop-filter: blur(4px);
}

.loader_spinner {
  color: #fff;
}
