.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.image {
  width: 150px;
  aspect-ratio: 1;
  object-fit: cover;
}

.redirect_text_heading {
  color: #d3d3d3;
  text-align: justify;
  text-align-last: center;
}
