.playlist_songs {
  display: flex;
  flex-direction: column;
  padding: 9px;
}

.title_text {
  color: #d3d3d3;
  text-align: center;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  padding: 15px;
}

.loader_spinner {
  color: #ffffff;
}

.loader_backdrop {
  color: #fff;
  z-index: 1301;
  backdrop-filter: blur(4px);
}
