.empty_search_text {
  color: #d3d3d3;
  text-align: justify;
  text-align-last: center;
}

.container {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  width: 60%;
  align-items: center;
}

.empty_search_container {
  margin: auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: #263d6cff;
}
